@use '../variables.scss' as v;
@use '../mixins.scss' as *;
/* .el-form-item {
  &.el-form-item--small {
    &.is-left {
      &:deep() {
        ._label {
          padding-left: 9.47px;
        }
      }
      &.is-required:deep() {
        ._label {
          padding-left: 0;
        }
      }
    }

    &.is-top_left {
      display: flex;
      align-items: center;
      .el-form-item__label {
        margin-right: auto;
      }
      .el-form-item__content {
        flex: initial;
      }
    }
  }
} */
.el-form {
  .el-form-item {
    .el-form-item__label {
      color: #666;
      line-height: 28px;
      @include textLineClamp(1);
    }
    .el-form-item__content {
      &:first-child {
        margin-left: 0 !important;
      }
      .el-checkbox {
        vertical-align: top;
      }
    }
    // &.hide-err {
    .el-form-item__error {
      display: none;
    }
    // }
    &.show-sign {
      .el-form-item__label {
        &::before {
          display: initial;
        }
      }
    }
    &.el-form-item--small {
      margin-bottom: 8px;
      .el-form-item__label {
        padding-right: 8px;
      }
      .el-form-item__content {
        font-size: 12px;
      }
    }

    &.is-flex_content {
      .el-form-item__content {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &.hide-sign {
      .el-form-item__label {
        &::before {
          display: none;
        }
      }
    }
    &.show-err {
      .el-form-item__error {
        display: initial;
      }
    }
  }

  &.el-form--label-top {
    .el-form-item {
      &.el-form-item--small {
        .el-form-item__label {
          line-height: 20px;
          padding-bottom: 8px;
          margin-bottom: 0;
        }
      }
    }
  }

  &.hide-sign {
    .el-form-item.is-required {
      .el-form-item__label {
        &::before {
          display: none;
        }
      }
    }
  }

  &.show-err {
    .el-form-item {
      .el-form-item__error {
        display: initial;
      }
    }
  }

  &.align-sign {
    .el-form-item {
      .el-form-item__label {
        padding-left: 9.47px;
        position: relative;
        &::before {
          position: absolute;
          left: 0;
        }
      }
    }
  }

  @each $size in 8, 12, 16 {
    &.items-mrr-#{$size} {
      .el-form-item {
        margin-right: $size + px !important;
      }
    }
  }

  @each $size in 0, 12, 16 {
    &.items-mrb-#{$size} {
      .el-form-item {
        margin-bottom: $size + px !important;
      }
    }
  }

  &.is-bg {
    .el-form-item {
      .el-form-item__label {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f5f5f5;
        border: #f0f0f0 1px solid;
        border-right-color: transparent;
        color: #666666;
        font-size: 12px;
        padding: 0 12px;
        margin: 0;
      }
    }
  }

  // 子窗口表单
  &.child-window {
    .el-form-item.el-form-item--small {
      margin-bottom: 12px;
      .el-form-item__label {
        width: 92px;
      }
    }
    .el-select,
    .el-date-editor {
      width: 100%;
    }
    .el-select .el-input,
    .el-input,
    .el-date-editor {
      &.el-input .el-input__inner {
        line-height: 20px;
      }
    }
    .el-checkbox.el-checkbox--small {
      .el-checkbox__label {
        padding-left: 8px;
        color: #808080;
      }
    }
  }
  // 企业初装/商品初装
  &.initiation-form,
  .initiation-form {
    padding: 12px 12px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    background: #fff;
    .el-form-item__label {
      white-space: nowrap;
      // text-overflow: initial;
    }
    .is-full-2 {
      grid-column: span 2;
    }
    .is-full-4 {
      grid-column: span 4;
    }
  }

  //高级搜索框样式
  &.colsearch {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
    margin-right: -16px;
    .el-form-item,
    .checkbox {
      margin-bottom: 8px !important;
      margin-right: 16px;
    }
    .el-form-item--small {
      width: 288px;
      .el-form-item__label {
        width: 60px;
        padding-right: 8px;
      }
    }

    .checkbox {
      margin-right: 20px;
    }
    .select,
    .el-input,
    .el-select,
    .el-date-editor {
      width: 100%;
      vertical-align: top;
    }
    .el-checkbox {
      vertical-align: top;
    }
  }
}


