$clr-blue: #206ef7;
$clr-light-blue: #edf3ff;
$clr-green: #3bb54d;
$clr-light-green: #eefff1;
$clr-red: #fc5757;
$clr-light-red: #fff4f4;
$clr-gray: #999;
$clr-light-gray: #f2f2f2;
$clr-yellow: #ffad49;
$clr-yellow-1: #ff9a1E;
$clr-light-yellow: #fff7ee;
$clr-orange: #fa742b;
